.App {
    text-align: center;
    width: 100%;
}

.game-board {
    position: relative;
    width: fit-content;
    /* height: 600px; */
    margin: 0 auto;
    border: 10px solid green;
    border-radius: 20px;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('../../Assets/images/aviator-bg.png'); */
    background-size: cover;
    background-position: center;
}

.plane-container {
    position: absolute;
    bottom: 0;
    /* Start at the bottom */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
}

.multiplier {
    position: absolute;
    top: 50px;
    left: 275px;
    font-size: 48px;
    color: green;
    font-weight: bold !important;
}

.chart-container {
    width: 100%;
    height: 100%;
    background-image: url('../../Assets/images/aviator-bg.png');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 645px;
    /* background-color: white; */
}

.chart-container>canvas {
    box-sizing: border-box !important;
    display: block !important;
    height: 490px !important;
    width: 686px !important;
    padding: 0px 7px;
    padding-left: 23px;
    padding-top: 23px;
    padding-bottom: 10px;
    color: white;
}

@keyframes vibrate {
    0% { transform: translate(-50%, -50%) translate(1px, 1px); }
    10% { transform: translate(-50%, -50%) translate(-1px, -2px); }
    20% { transform: translate(-50%, -50%) translate(-3px, 0px); }
    30% { transform: translate(-50%, -50%) translate(3px, 2px); }
    40% { transform: translate(-50%, -50%) translate(1px, -1px); }
    50% { transform: translate(-50%, -50%) translate(-1px, 2px); }
    60% { transform: translate(-50%, -50%) translate(-3px, 1px); }
    70% { transform: translate(-50%, -50%) translate(3px, 1px); }
    80% { transform: translate(-50%, -50%) translate(-1px, -1px); }
    90% { transform: translate(-50%, -50%) translate(1px, 2px); }
    100% { transform: translate(-50%, -50%) translate(1px, -2px); }
  }
  
  @keyframes burst {
    0% { transform: translate(-50%, -50%) translate(1px, 1px); }
    10% { transform: translate(-50%, -50%) translate(-1px, -2px); }
    20% { transform: translate(-50%, -50%) translate(-3px, 0px); }
    30% { transform: translate(-50%, -50%) translate(3px, 2px); }
    40% { transform: translate(-50%, -50%) translate(1px, -1px); }
    50% { transform: translate(-50%, -50%) translate(-1px, 2px); }
    60% { transform: translate(-50%, -50%) translate(-3px, 1px); }
    70% { transform: translate(-50%, -50%) translate(3px, 1px); }
    80% { transform: translate(-50%, -50%) translate(-1px, -1px); }
    90% { transform: translate(-50%, -50%) translate(1px, 2px); }
    100% { transform: translate(-50%, -50%) translate(1px, -2px); }
  }
  
  .vibrate {
    animation: vibrate 0.1s infinite;
  }
  
  .burst {
    animation: burst 0.9s forwards;
  }

  .aviator-message-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../Assets/images/blast.png');
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: block;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 800 !important;
    text-shadow: 0 0 black;
    filter: drop-shadow(2px 4px 6px black);
    max-width: 1081px;
  }
  
  .aviator-message-container.show {
    display: block;
  }

  .a-btn {
    width: 100%;
    /* max-width: 206.05px; */
    height: 42px;
    border: none;
    background-color: #0D131C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.a-btn:disabled {
    background-color: #7f8c8d; /* Adjust the color for disabled state */
    cursor: not-allowed;
    opacity: 0.6; /* Lower opacity for disabled buttons */
}

.a-start-btn {
    width: 100%;
    /* max-width: 206.05px; */
    height: 42px;
    border: none;
    background-color: #3EB13B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.a-start-btn:disabled {
    background-color: #08b700; /* Adjust the color for disabled state */
    cursor: not-allowed;
    opacity: 0.6; /* Lower opacity for disabled buttons */
}

@media (max-width: 1220px){
    .aviator-container{
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 430px){
    .chart-container>canvas {
        height: 297px !important;
        width: 385px !important;
    }
    .multiplier {
        position: absolute;
        top: 50px;
        left: 154px;
        font-size: 35px;
    }
    .chart-container{
        background-size: contain;
    }
    .chart-container>canvas{
        padding-left: 5px;
    }
}