.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'FS Elliot ProRegular';
  src: url('/public/fonts/FS\ Elliot\ ProRegular.otf') format('truetype');
}
*{
  font-family: 'FS Elliot ProRegular', sans-serif !important;
  /* font-weight: 650 !important; */
  font-weight: 500 !important;
}
body {
  font-family: 'FS Elliot ProRegular', sans-serif !important;
  color: white;
  background-color: #0D131C;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.navbar-toggler:focus {
  box-shadow: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
